/*STYLES=========================
1. Global (used in all three pages)
2. Add-ons (table, video, forms, navigation)
3. Page Specific (home, about, contact)
==================================*/


/*==========GLOBAL==========*/
html{font-size: 62.5%;}
body{
    font-size: 1.6rem;
    max-width:375px;
}
img{width: 100px;}
h1, h2, h3{
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    font-style: normal;
    color:#3E6990;
}
p{
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-style: normal;
    color:#3E5426;
    font-size: 1.4rem;
}
a{
    font-family:'Old Standard TT', serif;
    font-weight: 400;
    font-style: normal;
    color: #3E5426;
}

.oxygen-light {
    font-family: "Oxygen", serif;
    font-weight: 300;
    font-style: normal;
  }
  
.oxygen-regular {
    font-family: "Oxygen", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.oxygen-bold {
    font-family: "Oxygen", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }

/*=======
 Header
========*/
header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #3E5426;
    border-radius: 15px;
    background-image:url(images/headerbackground.jpg);
    background-position:bottom;
}

header img{width: 100px;
    border-radius: 20px;   
}

/*=====
 End of header
 ======*/

/*=====
  Footer
=====*/
footer{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav address"
    ". address"
    "disclaimer disclaimer"
    "copyright copyright"
}
footer h2{
    grid-area: header;
    text-align: center; 
    justify-items: center; 
    align-self: center;}
#footer-nav a{
    grid-area: nav;
    font-size: 1.2rem; 
    color:black; 
    font-weight: 400; 
    font-style: normal; 
    text-decoration: underline;
}
footer address{
    grid-area:address; 
    font-size: 1.4rem;}
footer p{
    grid-area: copyright; 
    text-align: center;}
.disclaimer{grid-area: disclaimer;}
/*=====
  End of Footer
=====*/
  
/*=====END OF GLOBAL=====*/


/*==========ADD-ONS==========*/

/*==========
  Navigation
  ==========*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-right:25px;
    display: none;
  }
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 5px;
    color: #fff;
}
.show-items {
    display: flex;
  }

  nav .toggle {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    top: 32px;
    margin: 15px 0px;
    color: #fff;
  }
/*=====End of Nav=====*/

/*=====
 Contact Form
=====*/
.form-wrapper{
    background-color: rgb(214, 214, 214);
    width: 350px;
    box-sizing: border-box;
    padding:20px;
    margin: 5px auto;
}
.homepage-contact form, #contact-us-form{
    display: flex;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    font-size: 1.4rem;
    
}
.label-required{color: red;}
.homepage-contact label{justify-items: flex-start;text-align: left;}
#message{
    height: 200px
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-size: 1.2rem;
}
#contact-form-bg{
    background-image: url(images/contact-form-bg.jpg);
    background-position:top;
    background-repeat: no-repeat;
}
#contact-us-form label{
    color: #fff; 
    font-size: 1.6rem; 
    font-weight: 700;
    background-color: #3e542652
}
#contact-required{color:yellow;}
/*=====
 End of Contact Form
=====*/

/*=====
 Table
=====*/
table{
    border: 3px solid rgb(230, 230, 230);
    font-family: 'Oxygen',serif;
    font-weight:400;
}

#table-fall{background-color: rgb(243, 242, 242) ;}
/*=====
 End of Table
=====*/
/*=====
 Inline Frame Map
=====*/
.map-embed{
    max-width: 375px;
    width:360px;
    margin-right: 15px;

    border-radius: 15px;
}
/*=====
 End of Inline Frame Map
=====*/
/*=====
 About Contact Us Button
=====*/
.contact-button{color: #3E5426; 
    font-weight: 700; 
    font-size: 1.2rem; 
    font-family: 'Oxygen', serif;
    text-transform: uppercase;
    width: 275px;
    height: 60px;
    margin:10px 30px;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #3E6990;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}
.contact-button:hover{
    background-color: #3E6990; 
    color: #fff;
    animation-duration: 2s;
    ;
}
.contact-button a{text-decoration: none;}
.contact-button a:hover{color: #fff; animation-duration: 2s;}

/*=====
 End Of About Contact Us Button
=====*/
/*=====
 About VIDEO
=====*/
.about-video {
    max-width: 360px;
    border: 2px solid #3E6990;
    border-radius: 15px;
    margin-top:15px;
}
/*=====
 End of About VIDEO
=====*/
/*==========END OF ADD-ONS==========*/

/*==========HOMEPAGE SPECIFIC==========*/
/*=====
 Homepage Hero
 =====*/
 .homepage-hero{
    display: grid;
    grid-template-areas: 
    "header header"
    "para1 img"
    "para2 img"
    "para3 img";
    text-align: center;
 }
 .homepage-hero img{
    grid-area: img;
    width:165px;
    height:350px;
}
 .homepage-hero h1{
    grid-area: header;
    font-size: 2.8rem;
    }
.homepage-hero p{
    margin:5px 5px 0px 0px;
    padding-right: 5px;
    font-size: 1.4rem;
}
 #hero-para1{
    grid-area: para1;
}
 #hero-para2{
    grid-area: para2;
}
 #hero-para3{
    grid-area: para3;
}
/*=====
 End of Hero
=====*/

/*=====
 About
=====*/
.homepage-about{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.homepage-about h2{
    margin: 25px 10px 0px 10px;
    font-size: 2.6rem;
}
.homepage-about a{
    color: #3E5426;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 5px;
}
.homepage-about img{
    width: 300px;
    height: 150px;
}
/*=====
 End of About
=====*/

/*=====
 Check Us Out
=====*/
.check-us-out{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    text-align: center;
}
.check-us-out h2{
    grid-column: 1/4;
    grid-row: 1;
    justify-self: center;
    align-self:flex-end;
    font-size: 2.6rem;
}
.check-us-out p{
    grid-column: 1/4;
    grid-row: 2;
}
.check-us-out address{
    grid-column: 1/4;
    grid-row: 3;
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-size: 1.4rem;
}
.check-us-out address p{
    color: black; 
    font-style: italic;
}
.cuo-img1{
    grid-column: 1;
    grid-row: 4;
    width: 120px;
    height:120px;
    border:1px solid #3E6990;
    border-radius: 15px;
    justify-self: center;
}
.cuo-img2{
    grid-column: 2;
    grid-row: 4;  
    width:120px;
    height: 120px;
    border:1px solid #3E6990;
    border-radius: 15px;
    justify-self: center;
}
.cuo-img3{
    grid-column: 3;
    grid-row: 4;  
    width: 120px;
    height:120px;
    border:1px solid #3E6990;
    border-radius: 15px;
    justify-self: center;
}
/*=====
 End of Check Us Out
=====*/

/*=====
 Contact Us Section
=====*/
.homepage-contact{text-align: center; 
}
.homepage-contact a {
    text-decoration: none; 
    color: #3E5426; 
    text-transform: uppercase;
    font-size: 1.2rem; 
    font-style: normal;}
.homepage-form-wrapper{
    background-color: rgb(214, 214, 214);
    width: 350px;
    box-sizing: border-box;
    padding:20px;
    margin: 5px auto;
}
.homepage-contact form{
    display: flex;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    font-size: 1.4rem;
}
.label-required{color: red;}
.homepage-contact label{justify-items: flex-start;text-align: left;}
#message{
    height: 200px
}

/*=====
 End of Contact Section
=====*/
/*==========END OF HOMEPAGE==========*/

/*==========ABOUT PAGE==========*/
/*=====
 Hero Section
=====*/
.about-hero{text-align: center;}
.about-hero h1{
    font-size: 3.4rem;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
}
caption{
    font-size: 2.5rem;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    color: #3E5426;
}
.about-hero img{
    width: 298px;
    margin:30px;
    border: 2px solid #3E6990;
    border-radius: 15px;
    
}

/*=====
 End of Hero Section
=====*/

/*=====
 Who we are section
=====*/
.who-we-are{
    text-align: center;
}
#who-we-are-h2{font-size: 3.2rem;
}
#wwa-grow, #wwa-shop{font-size: 2.6rem;}

.who-we-are p{margin: 15px 25px;}



/*==========END OF ABOUT PAGE==========*/

/*==========CONTACT PAGE==========*/

/*=====
 Hero section
=====*/
.contact-hero{text-align: center;}

/*=====
 End of Hero section
=====*/

/*=====
 Form section
=====*/
.contact-form-h2{
    text-align: center;   
}
/*=====
 End Of Form section
=====*/
/*==========END OF CONTACT PAGE==========*/




/*--------LARGE SCREENS (1200px and up)-----------*/

@media only screen and (min-width: 1200px){
/*=====Global=====*/
body {max-width: 1200px;
    margin:20px;
    margin-left: 35px;
    text-align: center;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #00c6b5;
    animation-name: example;
    animation-duration: 4s;
  }

/*==========END OF GLOBAL==========*/

/*=====
 Header
=====*/
header{
    display:flex;
    flex-direction: row;
    width:1185px;
    height: 200px;
    margin: 5px;  
    margin-right:20px;
}
header img{width:200px;}
nav .toggle{ display:none;}
#nav-items{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    justify-items: start;
    align-items: center;
    padding: 5px 20px;
    margin:15px;
    width:650px;
    line-height: 40px;
    font-size:3.2rem;
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
}
header nav a{font-style: normal;}
/*=====
 End of Header
=====*/

/*=====
 Footer
=====*/
footer{
    width:1200px;
    height:44 0px;
    border:1px solid #3E6990;
    border-radius: 15px;
}
footer h2{
    font-size:4.4rem;
    width:750px;
    text-align:center;
    justify-self: center;
    margin-left:35px;
    border:1px solid #3E6990;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
footer address{font-size: 2.1rem;}
#footer-nav{
    font-size: 2.1rem;
}
#footer-nav ol{
    list-style-type: none;
    line-height: 30px;
}
#footer-nav a{
    text-decoration: none;
    font-size: 2.1rem;
}
footer p{
    font-size: 2.0rem;
    width:650px;
    justify-self:center;
    align-self: center;
}
/*=====
 End of Footer
=====*/
/*==========END OF GLOBAL==========*/
/*==========ADD ONS==========*/
/*=====
 Contact Form
=====*/
.form-wrapper{
    width: 850px;
    height: 650px;
    margin-bottom:15px;
}
.homepage-contact form{
    width:800px;
    height:610px;
    font-size: 2.5rem;
}
label{width: 550px;}
#name{
    font-size: 2.4rem;
}
#phone{
    font-size:2.4rem;
}
#email{
    font-size: 2.4rem;
}
#message{font-size:2.4rem;
    height:300px;}
input[type=reset]{width:100px; 
    height:50px; 
    font-size:2.1rem;}
input[type=submit]{width:100px; 
    height:50px; 
    font-size:2.1rem;
}
#contact-us-form{
    width:800px; 
    height:650px;
    text-align:left;
    margin-left:5px;
    margin-top:20px;
    justify-content: center;
    align-self: center;
}
#contact-us-form label{font-size: 2.7rem;}
#contact-us-form input[type=submit]{
    width:125px; 
    font-size: 2.2rem;
    border-radius:15px;
}
#contact-us-form input[type=reset]{
    width:125px; 
    font-size: 2.2rem;
    border-radius:15px;
}
/*=====
 End of Contact Form
=====*/
/*=====
 Inline Frame Map Section
=====*/
.map-embed{
    max-width: 1200px;
    width:850px;
    height: 250px;
    margin-right: 15px;
    border-radius: 15px;
}
/*=====
 About Contact Button
=====*/
.contact-button{grid-area:button;
    color: #3E5426; 
    font-weight: 700; 
    font-size: 1.6rem; 
    font-family: 'Oxygen', serif;
    justify-self: center;
    text-transform: uppercase;
    width: 500px;
    height: 60px;
    margin:25px;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 2px solid #3E6990;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}
.contact-button:hover{
    background-color: #3E6990; 
    color: #fff;
    animation-duration: 2s;
    border:2px solid #3E5426;
}
.contact-button a{text-decoration: none;}
.contact-button a:hover{color: #fff; animation-duration: 2s;}



/*=====
 End Of About Contact Button
=====*/
/*=====
 About Video
=====*/
.about-video {
    max-width: 500px;
    border: 2px solid #3E6990;
    border-radius: 15px;
    margin-top:15px;
    justify-self: center;
}
/*=====
 About Video
=====*/

/*==========HOMEPAGE==========*/
/*=====
 Hero Section
=====*/
.homepage-hero{width:1200px;}
.homepage-hero h1{font-size: 4.6rem; padding:25px; margin:25px; font-weight: 700;}
.homepage-hero p{
    font-size: 2.3rem; 
    width: 540px; 
    margin:20px; 
    padding-right:30px;
    justify-items: flex-start; 
    align-self:center}
.homepage-hero img{
    width:580px;
    height: 360px;
    border-radius: 20px;
}
/*=====
 End of Hero Section
=====*/

/*=====
 About Section
=====*/
.homepage-about{display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:1200px;
    height: auto;
    border: 1px solid #fff;

}
/*box-shadow taken from getcssscan.com*/
.homepage-about h2{
    font-size: 4.4rem; 
    width: 650px;
    margin-top:50px;
    border:1px solid #3E6990;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    order:1
}
.homepage-about p{
    font-size: 2.3rem;
    width:800px;
    justify-content:center;
    order:2;  
}
.homepage-about a{
    font-size: 1.8rem;
    font-style: normal;
    text-decoration: none;
    width:200px;
    order:3;  
}
.homepage-about img{
    width:550px; 
    height:400px;
    order:4;
    border: 3px solid #3E6990;
    border-radius:15px;  
}
/*=====
 End of About
=====*/

/*=====
 Check Us Out
=====*/
.check-us-out{
    width:1200px;
}
.check-us-out h2{
    grid-column: 1/4;
    grid-row: 1;
    width:650px;
    font-size: 4.4rem;
    margin-top:80px;
    border:1px solid #3E6990;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.check-us-out p{
    grid-column: 2;
    grid-row: 2;
    font-size: 2.3rem;
    width:550px;
}
.check-us-out address{
    grid-column: 2;
    grid-row: 3;
    font-size: 1.8rem;
    height:150px;
}
.check-us-out address a{
    text-decoration: none; 
    text-transform: uppercase; 
    font-style: normal;
    color: black; }
.cuo-img1{
    grid-column: 1;
    grid-row: 2/4;
    width:300px;
    height:450px;
}
.cuo-img3{
    grid-column: 3;
    grid-row: 2/4;
    width:300px;
    height:450px;
}
.cuo-img2{
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: flex-end;
    width: 525px;
    height: 245px;
}
/*=====
 End of Check Us Out
=====*/

/*=====
 Contact Form
=====*/
.homepage-contact{text-align: center;}
.homepage-contact h2{
    font-size: 4.4rem;
    width:650px;
    margin-left:275px;
    border-radius: 15px;
    border:1px solid #3E6990;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.homepage-contact a{
    font-size: 1.8rem;
    text-align: center;
    width:250px;
    color: #3E6990;
    font-weight: 700;
}
/*=====
 End of Contact Form
=====*/
/*==========END OF HOMEPAGE==========*/
/*==========ABOUT PAGE==========*/
/*=====
 About Hero Section
=====*/
.about-hero{
    display:grid;
    grid-template-areas: 
    "h1 h1"
    "table img "
    "table img ";
    width:1186px;
    border: 1px solid #3E6990;
    border-radius:15px;
    margin:5px;
}
.about-hero table{
    width:500px;
    height: 250px;
    margin-left:50px;
    margin-top: 35px;
    align-items: center;
    grid-area: table;
    font-size: 2.4rem;
    
}
.about-hero h1{
    grid-area: h1; 
    font-size:4.8rem; 
    width:1200px;
    text-align: center;
}
.about-hero caption{font-size: 3.4rem;}
.about-hero img{
    grid-area: img; 
    width:500px;
}
/*=====
 End of About Hero Section
=====*/
/*=====
 Who We Are Section
=====*/
.who-we-are{
    display: grid;
    grid-template-areas: 
    "h2 h2"
    "video p1"
    "grow grow"
    "p2 p2"
    "shop shop"
    "p3 p3"
    "button button";
    font-size: 2.0rem;
    width: 1195px;
    border: 1px solid #3E6990;
    border-radius: 15px;
    margin-bottom:5px;
}
#who-we-are-h2{
    grid-area: h2; 
    font-size: 4.8rem;
}
#wwa-p1{grid-area: p1;
    font-size: 2.2rem; 
    align-self: center;
    justify-self: center;
    width:500px;
}
#wwa-grow{
    grid-area: grow; 
    font-size: 3.8rem;
}
#wwa-p2{
    grid-area: p2; 
    font-size: 2.2rem; 
    width:850px; 
    justify-self: center;
    line-height: 34px;
    text-align: center;
}
#wwa-shop{
    grid-area: shop;
    font-size: 3.8rem;
}
#wwa-p3{
    grid-area: p3; 
    font-size: 2.2rem;
    width:850px; 
    justify-self: center;
    line-height: 34px;
    text-align: center;
}

/*=====
 End Of Who We Are Section
=====*/

/*==========END OF ABOUT PAGE==========*/

/*=====
 Contact Hero Section
=====*/
.contact-hero{
    display:flex; 
    flex-flow:row wrap;
    justify-content: center;
    width:1200px; }
.contact-hero h1{order:1; font-size: 4.8rem; width:1200px;}
.contact-hero-p1{order:2; width:550px;font-size: 2.4rem;justify-content: left; margin:25px;}
.contact-hero-p2{order:2; width:550px;font-size: 2.4rem;justify-content: right; margin:25px;}
.map-embed{order:3; width:1200px;}

/*=====
 End Of Contact Hero Section
=====*/
/*=====
 Contact Us Section
=====*/
.contact-page-section{
    width:1200px;
}
#contact-form-bg{
    width:860px;
    height:750px;
}
.contact-form-h2{font-size: 4.4rem;}

}








