/*STYLES=========================
1. Global 
2.Typography (nav, lists, buttons)
3.Overall Layout Structure (header, main, footer)
4. Content Blocks (sections, articles, forms, tables, cards)
5. Page Specific (homepage, about page, contact page)
==================================*/


/*==========GLOBAL==========*/
html{font-size: 62.5%;}
body{font-size: 1.6rem;}
body img{width: 100px;}
h1, h2, h3{
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    font-style: normal;
    color:#3E6990;
}
p{
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-style: normal;
    color:#3E5426;
    font-size: 1.4rem;
}
a{
    font-family:'Old Standard TT', serif;
    font-weight: 400;
    font-style: italic;
}

.oxygen-light {
    font-family: "Oxygen", serif;
    font-weight: 300;
    font-style: normal;
  }
  
.oxygen-regular {
    font-family: "Oxygen", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.oxygen-bold {
    font-family: "Oxygen", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }

  
/*=====END OF GLOBAL=====*/

/*=====Typography====
  (Nav, lists, buttons)
  =====*/


/*==========
  Navigation
  ==========*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-right:25px;
    display: none;
  }
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 5px;
    color: #fff;
}
.show-items {
    display: flex;
  }

  nav .toggle {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    top: 32px;
    margin: 15px 0px;
    color: #fff;
  }
/*=====End of Nav=====*/

/*=====LAYOUT=====*/

/*=======
 Header
========*/
header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #3E5426;
    border-radius: 15px;
    background-image:url(images/headerbackground.jpg);
    background-position:bottom;
}

header img{
    border-radius: 20px;   
}

/*=====
 End of header
 ======*/

/*========Content Blocks========*/

/*=====
 Hero
 =====*/
 .homepage-hero{
    display: grid;
    grid-template-areas: 
    "header header"
    "para1 img"
    "para2 img"
    "para3 img";
    text-align: center;
 }
 .homepage-hero img{
    grid-area: img;
    width:165px;
    height:350px;
}
 .homepage-hero h1{
    grid-area: header;
    font-size: 2.5rem;
    }
.homepage-hero p{
    margin:5px 5px 0px 0px;
    padding-right: 5px;
    font-size: 1.4rem;
}
 #hero-para1{
    grid-area: para1;
}
 #hero-para2{
    grid-area: para2;
}
 #hero-para3{
    grid-area: para3;
}
/*=====
 End of Hero
=====*/

/*=====
 About
=====*/
.homepage-about{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.homepage-about h2{margin: 25px 10px 0px 10px;}
.homepage-about a{
    color: #3E5426;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 5px;
}
.homepage-about img{
    width: 300px;
    height: 150px;
}
/*=====
 End of About
=====*/

/*=====
 Check Us Out
=====*/
.check-us-out{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
}

.check-us-out p{
    grid-column: 1/4;
    grid-row: 2;
}